#canvas-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#result-div {
    display: none;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#custom-difficulty-div{
    display: none;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
#command-buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flags-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
#main-canvas {
    background-color: red;
}
#cols, #rows, #bombs {
    width: 5rem;
}
